<h2 class="mb-4">Carrito de Compras</h2>

@if(carritoService.obtenerItems().length > 0){

<ul class="list-group">

  @for(item of carritoService.obtenerItems(); track item.producto.id){

  <li class="list-group-item d-flex justify-content-between align-items-center">

    <div>
      <strong>{{ item.producto.nombre }}</strong>
      <br>
      Cantidad: {{ item.cantidad }}
      <br>
      Subtotal:
      ${{ item.producto.precio * item.cantidad }}
    </div>

    <button
      class="btn btn-danger btn-sm"
      (click)="eliminar(item.producto.id)">
      Eliminar
    </button>

  </li>

  }

</ul>

<h3 class="mt-3">
  Total: ${{ carritoService.obtenerTotal() }}
</h3>

} @else {

<div class="alert alert-info">
  El carrito está vacío.
</div>

}