<h2>Categorías</h2>

<div class="card mb-3">

  <div class="card-body">

    <div class="mb-2">

      <label>Nombre</label>

      <input
        type="text"
        class="form-control"
        [(ngModel)]="categoria.nombre">

    </div>

    <div class="mb-2">

      <label>Descripción</label>

      <input
        type="text"
        class="form-control"
        [(ngModel)]="categoria.descripcion">

    </div>

    <button
      *ngIf="!editando"
      class="btn btn-success"
      (click)="guardarCategoria()">

      Guardar

    </button>

    <button
      *ngIf="editando"
      class="btn btn-warning"
      (click)="actualizarCategoria()">

      Actualizar

    </button>

  </div>

</div>

<table class="table table-bordered">

  <thead>

    <tr>

      <th>ID</th>

      <th>Nombre</th>

      <th>Descripción</th>

      <th>Acciones</th>

    </tr>

  </thead>

  <tbody>

    <tr *ngFor="let categoria of categorias">

      <td>{{ categoria.id }}</td>

      <td>{{ categoria.nombre }}</td>

      <td>{{ categoria.descripcion }}</td>

      <td>

        <button
          class="btn btn-warning btn-sm me-2"
          (click)="editar(categoria)">

          Editar

        </button>

        <button
          class="btn btn-danger btn-sm"
          (click)="eliminar(categoria.id)">

          Eliminar

        </button>

      </td>

    </tr>

  </tbody>

</table>